.clear {
clear:both;
display:block;
height:0;
overflow:hidden;
visibility:hidden;
width:0;
}
.clearfix:after {
clear:both;
content:' ';
display:block;
font-size:0;
height:0;
line-height:0;
visibility:hidden;
width:0;
}
.clearfix {
display:inline-block;
}
* html .clearfix {
height:1%;
}
.clearfix {
display:block;
}


#news21-header{
	width:940px;
	background-color:#AFAFAF;
	background:url('http://assets.news21.com/news21-header.jpg') no-repeat;
	height:39px;
	margin:0px 0px 0px 10px;
}

#news21-header.arizonastate{ background:url('http://assets.news21.com/news21-header-arizonastate.jpg') no-repeat; }
#news21-header.northcarolina{ background:url('http://assets.news21.com/news21-header-northcarolina.jpg') no-repeat; }
#news21-header.berkeley{ background:url('http://assets.news21.com/news21-header-berkeley.jpg') no-repeat; }
#news21-header.northwestern{ background:url('http://assets.news21.com/news21-header-northwestern.jpg') no-repeat; }
#news21-header.columbia{ background:url('http://assets.news21.com/news21-header-columbia.jpg') no-repeat; }
#news21-header.southerncalifornia{ background:url('http://assets.news21.com/news21-header-southerncalifornia.jpg') no-repeat; }
#news21-header.maryland{ background:url('http://assets.news21.com/news21-header-maryland.jpg') no-repeat; }
#news21-header.syracuse{ background:url('http://assets.news21.com/news21-header-syracuse.jpg') no-repeat; }

#news21-menu{
	width:940px;
	background:url('http://assets.news21.com/news21-menu.jpg') no-repeat;
	height:29px;
	margin:0px 0px 0px 10px;
}

#news21-footer{
	width:960px;
}

#news21-footer h3 {
	font-size:10px;
	font-weight:bold;
	line-height:15px;
	margin:0;
	padding:0px;
	color:gray;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	text-align:left;
}

#news21-footer-top{ background:url('http://assets.news21.com/news21-footer-top.gif') no-repeat; height:40px;}
#news21-footer-content{ padding: 20px 40px; }
#news21-footer-copy{ 
	background:url('http://assets.news21.com/news21-footer-bottom.gif') no-repeat; 
	height:40px;
	margin-top:10px;
	padding:10px 0px 0px 20px;
	color:gray;
	font-size:10px;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
}

ul.news21-clean {
	list-style-type:none;
	margin:0 0 10px;
	padding:0;
	color:gray;
	font-size:9px;
	font-family:Verdana,Arial,Helvetica,Sans-Serif;
	text-align:left;
}
ul.news21-clean li.news21-footer-li {
	clear:both;
	overflow:hidden;
	padding:0;
	margin-left:0px;
}
ul.news21-clean li.news21-footer-li a.news21-footer-a { color:gray; text-decoration:none; display:block; font-weight:normal; }
ul.news21-clean li.news21-footer-li a.news21-footer-a:link { color:gray; text-decoration:none; display:block; font-weight:normal; }
ul.news21-clean li.news21-footer-li a.news21-footer-a:visited { color:gray; text-decoration:none; display:block; font-weight:normal; }
ul.news21-clean li.news21-footer-li a.news21-footer-a:active { color:gray; text-decoration:none; display:block; font-weight:normal; }
ul.news21-clean li.news21-footer-li a.news21-footer-a:hover { color:gray; text-decoration:none; display:block; font-weight:normal; }


#news21-footer-newsrooms{
	float:left;
	margin-right:30px;
	width:100px;
}
#news21-footer-years{
	float:left;
	margin-right:20px;
	width:170px;
}
#news21-footer-projects {
	float:left;
	margin-right:15px;
	width:160px;
}
#news21-footer-category {
	float:left;
	margin-right:15px;
	width:75px;
}
#news21-footer-category2 {
	float:left;
	margin-right:30px;
	width:75px;
	margin-top:15px;
}
#news21-footer-social {
	float:left;
	margin-right:35px;
	width:75px;
}
#news21-footer-multimedia {
	float:left;
	width:75px;
}