a.wax-fullscreen {
  /* TODO: sprite-based fullscreen button */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 99999;
  }

a.zoomer {
  text-decoration:none;
  position:absolute;
  background-color:#444;
  color:#fff;
  line-height:25px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:25px;
  height:25px;
  }

  a.zoomin {
    left:5px;
    }

  a.zoomout {
    left:35px;
    }

  a.zoomdisabled {
    background-color:#333;
    }


.wax-fullscreen-map {
  position:fixed !important;
  width:auto !important;
  height:auto !important;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999999999999;
  }

.wax-legends {
  position:absolute;
  left:10px;
  bottom:10px;
  z-index:999999;
  }

.wax-legends .wax-legend {
  padding:10px;
  background:#333;
  color:#fff;
  }

	.wax-legends,
	.wax-tooltip {
	  position:absolute;
	  z-index:9;
	  right:10px;
	  }

	.wax-legends { bottom:10px; }
	.wax-tooltip { top:10px; }

	.wax-legend,
	.wax-tooltip {
	  font:normal 13px/20px Arial,sans-serif;
	  color:#222;
	  min-width:180px;
	  max-width:280px;
	  max-height:400px;
	  padding:4px 9px;
	  border:1px solid #ccc;
	  background:transparent url(../images/mask.png) repeat;
	  overflow:auto;
	  border-radius:3px;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
	  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
	  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
	  }

	.wax-tooltip .close,
	.wax-fullscreen,
	.zoomer {
	  text-indent:-9999px;
	  overflow:hidden;
	  display:block;
	  position:absolute;
	  border:1px solid #ccc;
	  text-indent:-9999px;
	  overflow:hidden;
	  }

	.wax-tooltip .close:active,
	.wax-fullscreen:active,
	.zoomer:active {
	  margin-top:1px;
	  border-color:#bbb;
	  background-color:#ddd;
	  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
	  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
	  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
	  }

	.wax-tooltip .close {
	  top:4px;
	  right:4px;
	  width:18px;
	  height:18px;
	  background:#fff url(../images/controls.png) -6px -6px no-repeat;
	  border-radius:3px;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  }

.wax-mobile-body .wax-tooltip {
  position:absolute;
  top:50px;
  }

.zoombox-box,
.boxselector-box {
  margin:0;
  padding:0;
  border:1px dashed #888;
  background: rgba(255,255,255,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
  }

.zoombox-box-container,
.boxselector-box-container,
.pointselector-box-container {
  margin:0;
  padding:0;
  position:absolute;
  background: url(blank.gif);
  top:0;
  left:0;
  }

.wax-point-div {
  width:10px;
  height:10px;
  margin-left:-5px;
  margin-top:-5px;
  background:#fff;
  border:1px solid #333;
  -webkit-border-radius:5px;
  }

div.wax-attribution {
  position:absolute;
  background-color:rgba(255, 255, 255, 0.7);
  color:#333;
  font-size:11px;
  line-height:20px;
  z-index:99999;
  text-align:center;
  padding:0 5px;
  bottom:0;
  left:0;
  }

.wax-attribution.wax-g {
  left:65px;
  bottom:4px;
  background:transparent;
  }


