#tooltip {
	position: absolute;
	width: 20em;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #fff;
	padding: 5px;
	opacity: 0.95;
}
#tooltip h3, #tooltip div { 
	margin: 0; 
	font-size: 1em;
	font-weight: normal;
}

div#deck div.deck_tile {
	display: block;
	width: 49%;
	float: left;
}
div#deck {
	clear: both;
}
p.legend img{
	vertical-align: text-bottom;
}
p.legend {
	position: relative;
	top: 1em;
}
p.legend span{
	visibility: hidden;
}
div#disease_descriptions {
	height: 8em;
}
div#disease_descriptions div{
	display: none;
}
div#disease_descriptions div img{
	float: left;
	padding: 5px;
	padding-top: 0;
}
img.nrlegend{
	left: 50px;
}
div#disease_descriptions div p {
	font-size: 0.9em;
	line-height: 1.3em;
}
div#disease_descriptions div#explanation {
	display: block;
	height: 5em;
}

#table_fu{
  width: 900px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
  #table_fu *{
    margin: 0; 
    padding: 0;
  }
  #table_fu div#table_title{
    font-size: 24px;
    font-weight: bold;
    font-family: Palatino Linotype,Book Antiqua,Palatino,serif;
		width: 69%;
		float: left;
  }
  #table_fu div{
    margin-bottom: 14px;
  }
  #table_fu #controls{
    overflow:auto;
    clear: both;
    margin-bottom: 0px;
    
  }
  #table_fu div#pager{
    float:right;
    width: 15%;
  }
    #table_fu div#pager div.pagedisplay{
      display: inline;
    }
  #table_fu div#filter{
    float:left;
    width:30%;
		text-align: right;
  }
  
    #table_fu #data{
      border: 1px solid #ababab;
      border-collapse: collapse;
      margin-bottom:14px;
      width: 100%;
    }
		#table_fu td {
			text-align: center;
		}
      #table_fu td, #table_fu th{
        padding: 6px;
        border-bottom: 1px solid #ababab;
      }
      #table_fu th{
        cursor: pointer;
				height: 24ex;
				vertical-align: bottom;
				border-left: 1px solid #ababab;
      }
			#table_fu th p {
				-webkit-transform:rotate(270deg);
				-moz-transform:rotate(270deg);
				-o-transform: rotate(270deg);
				transform: rotate(270deg);
				writing-mode:tb-rl;
				white-space:nowrap;
				width: 1.2em;
				text-align: right;
			}
      #table_fu td.sorted{
        background-color: #edf4ff;
      }
      #table_fu td .bar{
        width: 100%;
        height: 100%;
        text-align:left;
        background-color: #99CA3C;
        color:#444;
        float:left;
        padding:0.5em;
        margin-top: 0.7em;
        font-weight:bold;
      }
			th.state{
				width: 13em;
			}
			th.state p {
				visibility: hidden;
			}
			img#occurrence {
				position: relative;
				left: 14em;
			}
      #table_fu th.headerSortDown{
        background: #ccc url(../images/th_arrow_asc.gif) no-repeat 100% 75%;
      }
      #table_fu th.headerSortUp{
        background: #ccc url(../images/th_arrow_desc.gif) no-repeat 100% 75%;
      }